@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfair-display-regular.woff2') format('woff2'),
        url('../fonts/playfair-display-regular.woff') format('woff'),
        url('../fonts/playfair-display-regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfair-display-italic.woff2') format('woff2'),
    url('../fonts/playfair-display-italic.woff') format('woff'),
    url('../fonts/playfair-display-italic.ttf') format('ttf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfair-display-bold.woff2') format('woff2'),
    url('../fonts/playfair-display-bold.woff') format('woff'),
    url('../fonts/playfair-display-bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfair-display-bold-italic.woff2') format('woff2'),
    url('../fonts/playfair-display-bold-italic.woff') format('woff'),
    url('../fonts/playfair-display-bold-italic.ttf') format('ttf');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-regular.woff2') format('woff2'),
    url('../fonts/montserrat-regular.woff') format('woff'),
    url('../fonts/montserrat-regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-italic.woff2') format('woff2'),
    url('../fonts/montserrat-italic.woff') format('woff'),
    url('../fonts/montserrat-italic.ttf') format('ttf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-medium.woff2') format('woff2'),
    url('../fonts/montserrat-medium.woff') format('woff'),
    url('../fonts/montserrat-medium.ttf') format('ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-medium-italic.woff2') format('woff2'),
    url('../fonts/montserrat-medium-italic.woff') format('woff'),
    url('../fonts/montserrat-medium-italic.ttf') format('ttf');
    font-style: italic;
    font-weight: 500;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

body {
    margin: 0;

    font-family: Montserrat, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #ae7c78;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #ae7c78;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.main-banner {
    display: flex;
    margin: 0 auto 48px;
    max-width: 1200px;
    min-height: 480px;
    justify-content: space-around;
}

.main-banner__column {
    width: 32%;
    display: flex;
    flex-direction: column;
}

.main-banner__column--down {
    justify-content: flex-end;
}

.main-banner__button {
    align-self: flex-start;
}

.main-banner__title {
    margin: 0 0 24px;
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 44px;
    line-height: 59px;
}

.main-banner__title--accented {
    font-style: italic;
}

.main-banner__desc {
    margin: 0 0 64px;
    font-size: 24px;
    line-height: 30px;
}

.main-nav {
    position: relative;
    
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.main-nav__list {
    display: flex;
    justify-content: space-around;
    flex: 1;

    list-style: none;
}

.main-nav__list li:nth-of-type(3) {
    margin-right: 18.7%;
}

.main-nav__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.main-nav__item {
    border-bottom: 1px solid transparent;
}

.main-nav__item:hover {
    border-bottom-color: #ae7c78;
}

.button {
    padding: 30px 70px;

    border-radius: 30px;
    background-color: #D89999;
    color: #ffffff;
}

.advantage-list {
    margin: 0 auto 80px;
    max-width: 1200px;
    display: flex;

    list-style: none;
}

.advantage {
    position: relative;

    padding-left: 95px;
    width: 33%;
}

.advantage::before {
    content: "";
    position: absolute;

    height: 52px;

    background: no-repeat;
}

.advantage--delivery::before {
    width: 82px;

    left: 0;
    top: 0;
    background-image: url("../img/delivery-car.svg");
}

.advantage--fresh::before {
    width: 52px;
    left: 30px;
    top: 0;
    background-image: url("../img/fresh-bouquet.svg");
}

.advantage--photo::before {
    width: 59px;
    left: 20px;
    top: 0;
    background-image: url("../img/camera.svg");
}

.advantage__title {
    font-weight: 500;
}

.advantage__desc {
    margin: 8px 0 0;
}

.slider-box__title {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}

.slide__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.slide__price {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.flower-card {
    background: rgba(174, 124, 120, 0.6);
}

.flower-card__title {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #ffffff;
}

.flower-card__title--full-width {
    font-weight: 400;
}

.flower-card__desc {
    color: #ffffff;
}

.flower-card__desc--full-width {
    font-size: 24px;
    line-height: 30px;
}

.perfect-flowers__title {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.perfect-flower__title {
    font-weight: 500;
}

.perfect-flower__desc {
    text-align: center;
}

.news__caption {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.news__desc {
    font-size: 24px;
    line-height: 30px;
}

.reviews__title {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: center;
}

.review__desc {
    text-align: center;
}

.review__name {
    font-weight: 500;
}

.map-box__title {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}

.map-box__contact a {
    color: #ae7c78;
}

.map-box__contact--important {
    font-weight: 500;
}

.page-header {
    margin: 26px 0 82px;
    padding: 16px 0;

    border-top: 1px solid #ae7c78;
    border-bottom: 1px solid #ae7c78;
}

.page-footer {
    background: #ae7c78;
}

.footer-nav__link {
    color: #ffffff;
}